@font-face {
    font-family: "Poppins Regular";
    src: url("fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins Light";
    src: url("fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins Medium";
    src: url("fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url("fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Playfair Display";
    src: url("fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: "Playfair Display-Black";
    src: url("fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf");
}

@font-face {
    font-family: "Playfair Display-Black-Italic";
    src: url("fonts/PlayfairDisplay/PlayfairDisplay-BlackItalic.ttf");
}

@font-face {
    font-family: "Playfair Display-Bold";
    src: url("fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf");
}