html {
    overflow-x: scroll;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header h3 {
    margin-top: 80px;
}

header h1 {
    font-size: 30px;
}

.logo {
    margin-left: -5px;
    margin-top: 20px;
    transform: scale(.9);
}

.social-media {
    margin-left: -20px;
    transform: scale(1.2)
}
.about {
 height: 650px;   
}

.about-wrapper {
    margin: 0 10px;
}

.about h2 {
    padding-top: 20px;
}

.about p {
    margin-top: 10px;
}

.about button {
    margin-left: 40px
}

.process {
    height: 975px;
}

.process-wrapper {
    margin: 0 0;
}

.wrap {
    flex-direction: column;
}

.process h5 {
    font-size: 35px;
}

.number {
    font-size: 150px;
}

.description {
    font-size: 17px;
}
.team-wrapper {
    margin: 0 10px;
}

.flex-team {
    flex-direction: column;
    align-items: center;
}

.developer:hover .dev-grad {
    height: 0;
}

.developer:hover .social {
    display: none;
}

.social {
    margin-left: 0;
    display: none;
}

.dev-pic {
    height: 455px;
    width: 360px;
    background-size: cover;
    margin-top: 30px;
}

.flex-projects {
     flex-direction: column;
    align-content: flex-start;
}

.text h2 {
 width: 300px;   
}

.collage {
    height:1800px;
}

.collage-text {
    margin-top: 1000px;
}

.collage-text h2 {
    margin-top: -180px;
}

.projects {
    height: 1000px;
}

.laptop-container {
    transform: scale(.7);
    margin-left: -150px;
    margin-top: 650px;
}

.text p{
    margin-top: 50px;
    width: 80%;
}

.text h2 {
    margin-top: -40px;
    margin-bottom: -50px;
}

.collage-wrapper {
    margin: 0 10px;;
}

.organic {
    margin-left: -200px;
}

.clock {
    display: none
}

.nike {
    margin-left: -100px;
}

.watch {
    display: none;
}
.options {
    height: 1850px;
    margin-top: 50px;
}
.options-wrapper {
    margin: 0 10px;
    grid-template-columns: auto;
}

.grids {
    grid-column: 1;
    width: 310px;
    margin-top: -300px;

}
.grids img {
    margin-left: 45%;
}

.grids p{
    text-align: center;
}

.footer {
    margin: 0 10px;
    grid-template-columns: auto;
}

.foot {
    background-color: white;
    margin-top: -200px;
}

.footer-logo {
    margin-top: -230px;
}

.footer h5 {
    margin-top: -50px
}

.copyright {
    margin-top: 170px; 
}
















